.section__btn-commander {
    background: linear-gradient(#FF79DA ,#9356DC);
    border-radius: 25px;
    width: initial;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    @include tablette{
        font-size: 21px;
        margin-left: 35%;
        margin-right: 35%;
    }
    @include large-laptop{
        margin-left: 40%;
        margin-right: 40%;
    }
}
