body {
    font-family: "Roboto", sans-serif;
    margin: 0;
      .spinner {
        z-index: 3;
        position: absolute;
      }
    .page {
        display: flex;
        flex-direction: column;
        z-index: 2;
        position: relative;
    }

}