
    
   
form {
    background-color: #eaeaea;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -1px 3px -1px #484848;
    @include tablette{
        height: 60px;
    }

    .fa-map-marker-alt {
        font-size: 18px;
        padding-right: 5px;
        color: #404040;
        @include ipadpro{
            font-size: 28px;
        }
    }
    #recherche {
        border: 0;
        background-color: #eaeaea;
        text-align: center;
        font-size: 16px;
        width: 140px;
        font-weight: 600;
        color: #404040;
        @include tablette{
            font-size: 22px;
            width: 260px;
        }
        @include ipadpro{
            font-size: 26px;
        }
    }
}  