nav h2 {
    font-size: 22px;
    font-weight: bold;
    padding-top: 25px;
    margin-left: 5%;
    margin-bottom: 0;
    @include tablette{
      font-size: 30px;
   }
}
.nav__liste-numerotee {
    counter-reset: li;
    list-style-type: none;
    line-height: 18px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 5% 50px 5%;
    @include tablette{
       margin: 10px 15% 50px 15%;
    }

    &-elements a:link {
       text-decoration: none;
       color: black;
       @include tablette{
          font-size: 18px;
       }
    }
    &-elements a:hover {
       background-color: #f5edff;
    }
    &-elements a:hover i {
       color: $couleur-primaire;
    }
    &-elements a:visited {
       color: black;
    }
    &-elements a {
         position: relative;
         border-radius: 20px;
         background-color: #f6f6f6;
         margin-top: 15px;
         padding: 25px;
         font-weight: 500;
         display: flex;
         align-items: center;
         box-shadow: 5px 4px 8px 2px #e6e6e6;
         margin-bottom: 8px;
         @include petit-mobile{
            padding: 15px;
         }
         @include tablette{
            padding: 30px;
            margin-bottom: 20px;
         }
    }
    &-elements a:before {
         content: counter(li);
         counter-increment: li;
         height: 20px;
         width: 20px;
         border: 1px solid $couleur-primaire;
         border-radius: 50%;
         color: white;
         text-align: center;
         position: absolute;
         left: -10px;
         background-color: $couleur-primaire;
    }
    .fa-mobile-alt {
       color: $couleur-nav-fa;
       font-size: 20px;
       padding-left: 15px;
       padding-right: 25px;
       @include tablette{
          font-size: 25px;
       }
    }
    .fa-list-ul {
       color: $couleur-nav-fa;
       font-size: 20px;
       padding-right: 20px;
       padding-left: 15px;
       @include tablette{
         font-size: 25px;
      }
    }
    .fa-store {
       color: $couleur-nav-fa;
       font-size: 15px;
       padding-left: 15px;
       padding-right: 20px;
       @include tablette{
         font-size: 25px;
      }
    }
}    