section {
    background-color: #f6f6f6;
    
    .section__img-restaurant {
       width: 100%;
       position: relative;
       height: 300px;
       object-fit: cover;
    }
    .section__titre {
       position: relative;
       top: -65px;
       border-radius: 45px 45px 0 0;
       background-color: #f6f6f6;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
    }
    h1 {
       font-family: "Shrikhand", cursive;
       font-size: 25px;
       margin-left: 5%;
       padding-top: 15px;
       @include tablette{
          font-size: 30px;
       }
    }
    .fa-heart { 
       font-size: 25px;
       margin-right: 40px;
       padding-top: 15px;
       @include tablette{
         font-size: 35px;
      }
    }

    h2 {
       font-family: "Roboto", sans-serif;
       font-size: 17px;
       font-weight: 400;
       margin-left: 5%;
       padding-bottom: 10px;
       border-bottom: 3px solid $couleur-tertiaire;
       width: 12%;
       @include tablette{
         font-size: 24px;
         width: 8%;
         border-bottom: 5px solid $couleur-tertiaire;
      }
    }
}    
.article__titre {
    margin-top: -40px;
    border-bottom: 3px solid $couleur-tertiaire;
    width: 12%;
    @include tablette{
      font-size: 24px;
      width: 8%;
      border-bottom: 5px solid $couleur-tertiaire;
   }
}
article {
    padding-bottom: 10px;

    div {
       border-radius: 15px;
       border: 1px solid #ffffff;
       background-color: #ffffff;
       display: flex;
       flex-direction: column;
       width: 90%;
       margin: 5%;
       box-shadow: 2px 7px 10px 4px #e8e8e8;
    }
    h3 {
       margin-bottom: 0;
       margin-left: 10px;
       margin-top: 10px;
       width: 70%;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       @include tablette{
          font-size: 24px;
       }
    }
    ul {
       padding-left: 0;
       list-style: none;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin-top: 5px;
       margin-left: 10px;
       margin-bottom: 10px;
    }
    li:nth-child(1) {
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       width: 70%;
       @include tablette{
         font-size: 21px;
      }
    }
    li:nth-child(2) {
       margin-right: 20px;
       font-weight: 900;
       @include tablette{
         font-size: 22px;
      }
    }
}  