section {
    background-color: #f6f6f6;
    
    .section__img-restaurant {
       width: 100%;
       position: relative;
       height: 300px;
       object-fit: cover;
    }
    .section__titre {
       position: relative;
       top: -65px;
       border-radius: 45px 45px 0 0;
       background-color: #f6f6f6;
       display: flex;
       flex-direction: row;
       align-items: baseline;
       justify-content: space-between;
    }
    h1 {
       font-family: "Shrikhand", cursive;
       font-size: 25px;
       margin-left: 5%;
       padding-top: 15px;
       @include tablette{
          font-size: 34px;
       }
       @include ipadpro{
          font-size: 43px;
       }
    }
    .fa-heart {
      font-size: 28px;
      @include tablette{
         font-size: 40px;
      }
      @include ipadpro{
         font-size: 48px;
      }
    } 
    .heart {
      position:relative;
      z-index:1;
      cursor: pointer;
      -webkit-text-stroke: 0px white;
      margin-right: 20px;
    }
    .heart2 {
      position:absolute;
      left:0;
      top:0;
      z-index:-1;
      background: linear-gradient($couleur-secondaire, $couleur-primaire);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity:0;
      transform: scale(0);
      transition:.6s ease;
    }
    .heart:hover .heart2{
      transform:scale(1);
      opacity:1;
    }
    .heart:hover{
      background: linear-gradient($couleur-secondaire, $couleur-primaire);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0px white;
    }

    h2 {
       font-family: "Roboto", sans-serif;
       font-size: 17px;
       font-weight: 400;
       margin-left: 5%;
       padding-bottom: 10px;
       border-bottom: 3px solid $couleur-tertiaire;
       width: 12%;
       @include tablette{
         font-size: 24px;
         width: 8%;
         border-bottom: 5px solid $couleur-tertiaire;
      }
      @include ipadpro{
         font-size: 28px;
         width: 6%;
         border-bottom: 5px solid $couleur-tertiaire;
      }
    }
}    
.article__titre {
    margin-top: -40px;
    border-bottom: 3px solid $couleur-tertiaire;
    width: 12%;
    @include tablette{
      font-size: 24px;
      width: 8%;
      border-bottom: 5px solid $couleur-tertiaire;
   }
   @include ipadpro{
      font-size: 28px;
      width: 6%;
      border-bottom: 5px solid $couleur-tertiaire;
   }
}
article {
    padding-bottom: 10px;

    h3 {
      margin-bottom: 0;
      margin-left: 10px;
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      @include tablette{
         font-size: 24px;
      }
      @include ipadpro{
         font-size: 28px;
      }
    }
    .article__menus1, .article__menus2, .article__menus3, .article__menus4 {
       border-radius: 15px;
       background-color: #ffffff;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       width: 90%;
       margin: 5%;
       box-shadow: 2px 7px 10px 4px #e8e8e8;
      .article__menus1_description,.article__menus2_description,.article__menus3_description,.article__menus4_description {
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
         p {
            margin: 5px 0 10px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            @include tablette{
               font-size: 20px;
            }
            @include ipadpro{
               font-size: 26px;
            }
           }
      }
      .article__menus_prix {
         display: flex;
         align-items: flex-end;
         font-weight: 900;
         margin: 5px 20px -5px 0;
         @include tablette{
            font-size: 20px;
         }
         @include ipadpro{
            font-size: 25px;
         }
      }
      .article__menus_checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $couleur-tertiaire;
        overflow: hidden;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 0px;
        transition-timing-function: ease-out;
        transition: 2s;
        .cercle {
          color: white;
          @include tablette{
             font-size: 30px;
          }
         }
      }
    }   
}


.article__menus1:hover .article__menus_checkbox, .article__menus2:hover .article__menus_checkbox, .article__menus3:hover .article__menus_checkbox, .article__menus4:hover .article__menus_checkbox {
   transition: 0.3s;
   transition-timing-function: ease-in;
   width: 80px;
}
.article__menus1:hover .cercle, .article__menus2:hover .cercle, .article__menus3:hover .cercle, .article__menus4:hover .cercle {
   animation: circlerotate 0.3s linear;
}
@keyframes circlerotate{
   0%{
       transform: rotate(0deg);
   }
   100%{
       transform: rotate(360deg);
   }
}


.article__menus1{
   animation: fadein 1.1s linear;
   animation-delay: 0.1s;
}
.article__menus2{
   animation: fadein 1.2s linear;
   animation-delay: 0.2s;
}
.article__menus3{
   animation: fadein 1.3s linear;
   animation-delay: 0.3s;
}
.article__menus4{
   animation: fadein 1.4s linear;
   animation-delay: 0.4s;
}
@keyframes fadein{
   0%{
       transform: translateY(15px);
       opacity: 0;
   }
   
   100%{
       transform: translateY(0);
       opacity: 1;
   }
}

