@mixin nouveau {
    position: absolute;
    font-size: 15px;
    top: 15px;
    right: 15px;
    padding: 8px 15px;
    background-color: $couleur-tertiaire;
    color: #139273;
    font-weight: 700;
    border-radius: 4px;
    @include ipadpro{
        font-size: 20px;
    }
}
@mixin btn {
     background: linear-gradient($couleur-secondaire ,$couleur-primaire);
     border-radius: 25px;
     width: 60%;
     color: #ffffff;
     text-decoration: none;
     margin-left: 20%;
     margin-right: 20%;
     box-shadow: 0px 5px 9px 4px #cfcfcf;
     margin-top: 10px;
}


@mixin petit-mobile {
    @media screen and (min-width: map-get($breakpoints, petit-mobile)) {
        @content;
    }
}
@mixin tablette {
    @media screen and (min-width: map-get($breakpoints , tablette)) {
        @content;
    }
}

@mixin ipadpro {
    @media screen and (min-width: map-get($breakpoints , ipadpro)) {
        @content;
    }
}


@mixin laptop {
    @media screen and (min-width: map-get($breakpoints , deskop)) {
        @content;
    }
}


@mixin large-laptop {
    @media screen and (min-width: map-get($breakpoints , large screens)) {
        @content;
    }
}