@mixin nouveau {
    position: absolute;
    font-size: 15px;
    top: 15px;
    right: 15px;
    padding: 8px 15px;
    background-color: $couleur-tertiaire;
    color: #139273;
    font-weight: 700;
    border-radius: 4px;
}
@mixin btn {
     background: linear-gradient($couleur-secondaire ,$couleur-primaire);
     border-radius: 25px;
     width: 60%;
     color: #ffffff;
     text-decoration: none;
     margin-left: 20%;
     margin-right: 20%;
     box-shadow: 0px 5px 9px 4px #cfcfcf;
     margin-top: 10px;
}

@mixin petit-mobile {
    @media screen and (min-width: map-get($breakpoints , petit-mobile)) and (max-width: map-get($breakpoints , mobile )) {
        @content;
    }
}

@mixin tablette {
    @media screen and (min-width: map-get($breakpoints , tablette)) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: map-get($breakpoints , deskop)) {
        @content;
    }
}


@mixin large-laptop {
    @media screen and (min-width: map-get($breakpoints , large screens)) {
        @content;
    }
}


.spinner {
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #f2f2f2;
    border-top: 6px solid $couleur-primaire;
    animation: spin 2.0s;
    right: 100px;
    margin-top: 20%;
    margin-left: 45%;
    }
   
    @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
          z-index: 1;
          opacity: 0;
        }
    }