$breakpoints: (
    petit-mobile: 275px,
    mobile: 325px,
    tablette: 768px,
    ipadpro:1020px,
    deskop: 1324px,
    large screens: 1824px
);
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-nav-fa: grey;